.link {
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    font-weight: 700;
    cursor: pointer;
}

.link:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}